* {
  margin: 0;
  paddgin: 0;
}

.header {
  background: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.nav {
  padding: 20px 10px;
  color: white;
}

.content {
  width: 50vw;
  margin: 0 auto;
}
.card {
  display: flex;
  justify-content: center;
  gap: 20px;
  border-bottom: 1px solid whitesmoke;
  padding: 5px;
}
.card img {
  width: 200px;
  height: 170px;
  margin: 10px;
}

.card .card_content .location {
  display: flex;
  gap: 10px;
}
.card .card_content .location i {
  color: tomato;
}
.card .card_content .location .country {
  font-weight: 100;
  letter-spacing: 3px;
}
.card .card_content .location a {
  color: gray;
}

.card .card_content .title {
  margin-top: 5px;
  margin-bottom: 15px;
  font-family: sans-serif;
  font-size: 2rem;
}
.card .card_content .date {
  font-family: sans-serif;
}
.card .card_content .description {
  margin: 10px 0;
  font-family: sans-serif;
  font-weight: 100;
}
