.side-bar-filter {
  width: 100%;
  margin: 0 auto;
}
.side-bar-filter .title {
  font-size: 1rem;
  margin: 5px 10px;
}

.side-bar-filter label {
  padding: 5px;
  font-size: 0.9rem;
}
.side-bar-filter input {
  margin: 2px 5px;
}
.side-bar-filter .input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}
